doctype
html(lang="pt-BR")

  //- Head Include
  include _includes/_head.jade

  body

  //- Background Wrapper
  .container
    .wrapper.twelve.columns

      //- Main Header
      header.main-header.row
        h1.logo.one-third.column
          img.logo-image(src="images/hipercard-400x178.png" alt="Hipercard Logo")

        //- SAC label
        label.sac.two-thirds.column SAC Hipercard: 0800 724 4845

        //- Acess form
        form.acess-form.two-thirds.column
          input.acess-input(type="number" placeholder="Número do seu Hipercard" required autofocus pattern="\\d{4}\\.?\\d{4}\\.?\\d{4}\\.?\\d{4}")
          input.acess-submit(type="submit" value="OK")



      //- Get your Hipercard
      section.your-hipecard
        h2.title Conforto e segurança.
        h2.subtitle Peça já o seu!

        a.purchase(href="#" role="button") &#10148; Adquira já o seu!

        p.first-term 1. Serviço válido apenas para cartão Pessoa Física.
        p.second-term 2. Sujeito à análise de cŕedito.



    //- Where to use
    section.service-centers
      h2.title Saiba onde usar seu Hipercard
      a.find(href="#" role="button") &#10148; Buscar Núcleos de Atendimento ao Cliente



    //- Reason to have your
    section.reasons
      h2.title.twelve.columns Razões para adquirir seu Hipercard

      //- Advantages
      .row
        section.advantages.one-third.column
          h3.title Só o Hipercard tem vantagens

          ul.advantages-list
            li.advantage-item - Sem anuidade com limite exclusivo para compras parceladas;
            li.advantage-item - Aceito em mais de um milhão de estabelecimentos;
            li.advantage-item - A fatura pode ser paga em qualquer banco.

          //- Redirect
          a.redirect-link(href="#" role="button") &#10148; Saiba mais


        //- Facilities
        section.facilities.one-third.column
          h3.title Facilidade e vantagens sempre

          p.paragraph Só o Hipercard oferece um cartão sem anuidade e o diferencial de dois limites de crédito: um <b>rotativo para compras à vista</b> e outro maior ainda para <b>compras parceladas</b>.

          //- Redirect
          a.redirect-link(href="#" role="button") &#10148; Saiba mais


        //- Legal Person
        section.legal-person.one-third.column
          h3.title Pessoa Jurídica/ Área dos lojistas

          p.paragraph É lojista?
          p.paragraph Então acesse nossa área exclusiva para lojistas.

          //- Redirect
          a.redirect-link(href="#" role="button") &#10148; Acesso exclusivo aos lojistas



    //- Partners
    section.partners
      h2.title Parceiros

      ul.partners-list.twelve.columns
        .row
          //- AACD
          li.partner-item.one-half.column
            .content
              img.partner-image(src="images/aacd-400x256.png" alt="AACD 65 anos Logo")
              p.description A AACD está completando 65 anos. Ajude esta história a continuar.
              a.check-link(href="#" role="button") &#10148; Contribua
          //- Walmart
          li.partner-item.one-half.column
            .content
              img.partner-image(src="images/walmart-400x95.png" alt="Walmart Logo")
              p.description Walmart.com: Descontos de até 40% em diversos produtos em hotsite exclusivo.
              a.check-link(href="#" role="button") &#10148; Ofertas

        .row
          //- Cestas Michelli
          li.partner-item.one-half.column
            .content
              img.partner-image(src="images/cestas-michelli-400x156.png" alt="Cestas Michelli Logo")
              p.description Descontos de até 50% em diversas cestas no hotsite exclusivo para clientes Hipercard.
              a.check-link(href="#" role="button") &#10148; Aproveite

          //- Giuliana Flores
          li.partner-item.one-half.column
            .content
              img.partner-image(src="images/giuliana-flores-400x183.png" alt="Giuliana Flores Logo")
              p.description Descontos de até 50% em diversos arranjos de flores e cestas no hotsite exclusivo para clientes Hipercard.
              a.check-link(href="#" role="button") &#10148; Aproveite

        .row
          //- Abril
          li.partner-item.one-half.column
            .content
              img.partner-image(src="images/abril-400x197.png" alt="Abril Logo")
              p.description 50% de desconto na assinatura de qualquer revista pelo perído de 2 anos, com parcelamento em até 12x sem juros e frete grátis em todo o país.
              a.check-link(href="#" role="button") &#10148; Aproveite

    //- Main Footer
    footer.main-footer.twelve.columns   
      .contain
        .row
          //- Reference Links
          section.reference-links.one-third.column   
            ul.reference-list
              li.reference-item: a.reference-link(href="#") Sobre o Hipercard
              li.reference-item: a.reference-link(href="#") Trabalhe Conosco
              li.reference-item: a.reference-link(href="#") Uma empresa Itaú
              li.reference-item: a.reference-link(href="#") Correspondente Itaú

          //- Service Links
          section.service-links.one-third.column   
            ul.service-list
              li.service-item: a.service-link(href="#") Imprima seu extrato
              li.service-item: a.service-link(href="#") Parcelamento da sua fatura
              li.service-item: a.service-link(href="#") Seguros
              li.service-item: a.service-link(href="#") Produtos e Serviços
              li.service-item: a.service-link(href="#") Promoções Hipercard

          //- Contact Links
          section.contact-links.one-third.column   
            ul.contact-list
              li.contact-item: a.contact-link(href="#") Fale Conosco
              ul.social-links
                li
                  a(href="#")
                    img(src="images/facebook-logo.png" alt="Facebook logo")
                li
                  a(href="#")
                    img(src="images/twitter-logo.png" alt="Twitter logo")

        //- Bottom Footer
        section.bottom-footer.row
          p.copy.one-third.column &copy; 2016 Hipercard.
          a.faq.one-third.column(href="#") Dúvidas Frequentes
          a.secure.one-third.column(href="#") Dicas de Segurança

  nav
    ul#buttonOptions 
      li +
        ul.listOptions
          li
            a(href="https://github.com/training-projects") Back to Github
          li
            a(href="http://jonathanslima.github.io/portfolio/") Back to portfolio
          //- li
          //-   a(href="#") Go to next projects