// Main Header
// ----------------------------------------------------------------------
body
  font-family: "Roboto Slab"

.wrapper
  margin-bottom: 5em
  background-image: url("../../images/woman-shopping.jpg")
  background-repeat: no-repeat

.main-header
  border-bottom: 3px solid $red

.logo, .sac, .acess-form
  padding: 10px
  margin-bottom: 0

.sac
  font-size: 80%
  color: $red
  margin-bottom: 10px

input.acess-submit
  background-color: $red
  color: $white

.logo
  margin-top: 0

.logo-image
  width: 170px

.acess-form
  margin-top: 0
  padding-top: 0

.acess-input
  width: 210px


// Your Hipercard
// ----------------------------------------------------------------------
.your-hipecard
  text-align: center

.your-hipecard .subtitle
  margin-top: -15px
  margin-bottom: 50px

.purchase
  background-color: $red
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  color: $white
  padding: 3%
  font-size: 160%
  text-align: center
  border-radius: 10px

.purchase:hover
  color: $white
  box-shadow: 3px 5px 5px #333;

.first-term, .second-term
  text-align: left
  margin: 0 10px
  font-size: 0.8em

.first-term
  margin-top: 80px

.second-term
  margin-bottom: 20px


// Where to use
// ----------------------------------------------------------------------
.service-centers
  margin-bottom: 7em
  text-align: center
  color: $red

.title, .subtitle
  font-family: Quicksand;

  .title
    margin-bottom: 2.5em

  .find
    padding: 2.5% 3%
    border: 2px solid $red
    color: $red


// Reason to have your
// ----------------------------------------------------------------------
.reasons
  padding: 10px
  background-color: $red
  color: $white

  > .title
    margin: 1.5em 0
    text-align: center

  .advantages,
  .facilities,
  .legal-person
    position: relative
    height: 450px
    font-size: 14px

  .advantages-list, .paragraph
    padding-left: 15px
    padding-top: 5px

  .redirect-link
    margin-left: 15px
    padding: 1.0em
    background-color: $white
    color: $red
    position: absolute;
    bottom: 15px;


// Partners
// ----------------------------------------------------------------------
.partners
  text-align: center
  background-color: $gray
  color: $red

  .title
    padding: 1.5em
    text-align: center

  .partners-list
    margin: 10px

    .partner-item
      position: relative
      height: 405px
      margin-left: 19px
      padding: 2.5em
      text-align: center
      background-color: $white

      .partner-image
        width: 200px
        height: 100px

      .description
        margin-top: 1em
        text-align: left
        color: $black

      .check-link
        position: absolute
        bottom: 2em
        right: 2em
        width: 200px
        padding: 0.5em
        background-color: $red
        color: $white

// Footer
//
.reference-links, .service-links, .contact-links
  padding-left: 1.5em

.reference-item,
.service-item,
.contact-item 
  padding-left: 1.5em