// Main Header
// ----------------------------------------------------------------------
body
  font-family: "Roboto Slab"

.wrapper
  margin-bottom: 5em
  background-image: url("../../images/woman-shopping.jpg")
  background-repeat: no-repeat

.main-header
  border-bottom: 3px solid $red

.logo, .sac, .acess-form
  padding: 10px
  margin-bottom: 0

.sac
  font-size: 80%
  color: $red
  margin-bottom: 10px

input.acess-submit
  border: none
  background-color: $red
  color: $white
  -webkit-transition: all 1s
  -moz-transition: all 1s
  -ms-transition: all 1s
  -o-transition: all 1s
  transition: all 1s

  &:hover
    color: $white
    text-decoration: underline
    box-shadow: 1.5px 2.5px 2.5px #333

.logo
  margin-top: 0

.logo-image
  width: 170px

.acess-form
  margin-top: 0
  padding-top: 0

.acess-input
  width: 210px

// Your Hipercard
// ----------------------------------------------------------------------
.your-hipecard
  text-align: center

.your-hipecard .subtitle
  margin-top: -15px
  margin-bottom: 50px

.purchase
  background-color: $red
  -webkit-transition: all 1s
  -moz-transition: all 1s
  -ms-transition: all 1s
  -o-transition: all 1s
  transition: all 1s
  color: $white
  padding: 3%
  font-size: 160%
  text-align: center
  border-radius: 10px
  &:hover
    color: $white
    box-shadow: 3px 5px 5px #333

.first-term, .second-term
  text-align: left
  margin: 0 10px
  font-size: 0.8em

.first-term
  margin-top: 80px

.second-term
  margin-bottom: 20px


// Where to use
// ----------------------------------------------------------------------
.service-centers
  margin-bottom: 7em
  text-align: center
  color: $red

.title, .subtitle
  font-family: Quicksand

.service-centers .title
  margin-bottom: 2.5em

.find
  padding: 2.5% 3%
  border: 2px solid $red
  color: $red
  border-radius: 10px
  display: inline-block
  &:hover
    color: $red
    text-decoration: underline

// Reason to have your
// ----------------------------------------------------------------------
.reasons
  padding: 10px
  background-color: $red
  color: $white

  > .title
    margin: 1.5em 0
    text-align: center

  .advantages,
  .facilities,
  .legal-person
    position: relative
    font-size: 14px
    border-bottom: 3px solid $white
    padding: 15px 0
    margin-bottom: 30px

  .redirect-link
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    -ms-transition: all 0.3s
    -o-transition: all 0.3s
    transition: all 0.3s
    padding: 1.0em
    background-color: $white
    color: $red
    position: absolute
    bottom: 15px
    border-radius: 10px
    text-align: center
    &:hover
      text-decoration: underline
      margin-left: 15px

  .legal-person .redirect-link
    background: #018137
    color: $white

  .legal-person .redirect-link:hover
    text-decoration: underline

// Partners
// ----------------------------------------------------------------------
.partners
  text-align: center
  background-color: $gray
  color: $red
  float: left

  .title
    padding: 1.5em
    text-align: center

  .partners-list
    width: 97%
    margin-left: 1.5%

    .partner-item
      position: relative
      height: 420px
      padding: 2.5em
      text-align: center
      background-color: $white

      .partner-image
        width: 80%

      .description
        margin-top: 1em
        text-align: left
        color: $black

      .check-link
        width: 70%
        padding: 1.0em
        -webkit-transition: box-shadow linear 0.3s
        -moz-transition: box-shadow linear 0.3s
        -ms-transition: box-shadow linear 0.3s
        -o-transition: box-shadow linear 0.3s
        transition: box-shadow linear 0.3s
        background-color: $red
        display: inline-block
        color: $white
        border-radius: 10px
        text-align: center
        bottom: 25px
        position: absolute
        &:hover
          text-decoration: underline
          box-shadow: 1.5px 2.5px 2.5px #333

// Footer
// ----------------------------------------------------------------------
.main-footer
  margin-top: 15px
  padding-top: 5%

  .reference-link, .service-link, .contact-link
    font-size: 70%
    color: $black
    -webkit-transition: color, padding-left linear 0.3s
    -moz-transition: color, padding-left linear 0.3s
    -ms-transition: color, padding-left linear 0.3s
    -o-transition: color, padding-left linear 0.3s
    transition: color, padding-left linear 0.3s
    &:hover
      padding-left: 5%
      color: $red

  .reference-item,
  .service-item,
  .contact-item
    padding-left: 1.5em
    
  .bottom-footer
    margin: 2em 0
    border-top: 3px solid $red
    font-size: 0.7em

    .copy,
    .faq,
    .secure
      margin: 2em 0
      color: $red
      text-align: center

    .faq,
    .secure
      color: $black
      -webkit-transition: padding-left linear 0.3s
      -moz-transition: padding-left linear 0.3s
      -ms-transition: padding-left linear 0.3s
      -o-transition: padding-left linear 0.3s
      transition: padding-left linear 0.3s
      &:hover
        padding-left: 1.5em
        color: $red

// button more

#buttonOptions
  width: 50px
  height: 50px
  background-color: #0079bf
  position: fixed
  top: 220px
  border-radius: 50%
  left: -20px
  box-shadow: 1.5px 2.5px 2.5px #333
  -webkit-transition: all linear 0.3s
  -moz-transition: all linear 0.3s
  -ms-transition: all linear 0.3s
  -o-transition: all linear 0.3s
  transition: all linear 0.3s
  &:hover
    left: 15px
  
  li
    color: $white
    padding: 11px 0px 50px 21px

  li a
    display: block

  .listOptions
    position: absolute
    width: 170px
    top: 10px
    display: none
    background-color: #dfdfdf
    box-shadow: 5px 5px 10px #000
  li:hover .listOptions
    display: block

  .listOptions li
    display: block
    padding: 15px 0 15px 15px
    border-bottom: 1px solid #0079bf
    margin: 0
  
  .listOptions li a
    -webkit-transition: padding-left linear 0.1s
    -moz-transition: padding-left linear 0.1s
    -ms-transition: padding-left linear 0.1s
    -o-transition: padding-left linear 0.1s
    transition: padding-left linear 0.1s
    color: #0079bf
    &:hover
      padding-left: 15px