.wrapper
	background-image: url("../../images/woman-shopping.jpg");
	background-repeat: no-repeat;

.main-header
	border-bottom: 3px solid $red;

.logo, .sac, .acess-form
	padding: 10px;
	margin-bottom: 0;


.sac, .acess-form
	text-align: right;

.logo
	margin-top: 0;

.logo-image
	width: 170px;

.acess-form
	margin-top: 0;
	padding-top: 0;

.your-hipecard
	text-align: center;

.your-hipecard .title
	/*font-family:;*/
	font-size: 4.0em;
	margin-top: 150px;

.your-hipecard .subtitle
	/*font-family:;*/
	font-size: 3.0em;
	margin-top: -15px;
	margin-bottom: 50px;

.purchase
	background-color: $red;
	color: $white;
	padding: 3%;
	font-size: 160%;
	text-align: center;

.first-term, .second-term
	text-align: left;
	margin: 0 10px;
	font-size: 0.8em;

.first-term
	margin-top: 40px;

.second-term
	margin-bottom: 80px;

