head
  //- Essentials Meta Tags
  //- ----------------------------------------------------------------------
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="robots" content="index, follow")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="theme-color" content="")
  meta(name="description" content="O Hipercard é um cartão de crédito sem anuidade. Nossos novos cartões são totalmente personalizados, tanto que podem ser customizados com as fotos de sua escolha.")

  //- Imports
  //- ----------------------------------------------------------------------
  link(rel="stylesheet" href="css/skeleton.css")
  link(rel="stylesheet" href="css/main.css")

  //- Fonts
  //- ----------------------------------------------------------------------
  link(href="https://fonts.googleapis.com/css?family=Roboto+Slab|Quicksand:400" rel="stylesheet" type="text/css")
  
  //- Title
  //- ----------------------------------------------------------------------
  title Hipercard
